body{
    background-color:aliceblue;
    font-size: 18pt;
    text-align: center;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.foto{
    height: 500px;
    width: 800px;
    align-content: center;
    margin-top: 30px;
    margin-left: 30%;
    margin-bottom: 30px;
}
