<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Logar Usuário</title>
</head>
<body>
<h1>Login de usuário</h1>
<br>
<a href="/cadastra">Cadastrar Usuário</a>
<br>
<a href="/atualiza">Atualizar Usuário</a>
<br>
<a href="/remove">Remover Usuário</a>
<br>
<img src="login.png" width="200"/>
<form action="/login" method="post">
    Login: <input type="text" name="logar_login"><br><br>
    Senha: <input type="password" name="logar_senha"><br><br>
    <input type="submit" value="Logar">
</form>

</body>
</html>