<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <h1>Resposta</h1>
    <a href="/">Login</a>
    <h2> <%=mensagem%> </h2>
    <h3> Login: <%=login%>  </h3>
    <h3> Senha: <%=senha%> </h3>
</body>
</html>