<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastramento</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<div>
    <br>
    <h1>Resposta do Banco de Dados</h1>
    <br>
    <p><%=mensagem%></p>
    <br>
    <div>
        <p><%=resposta%></p>
    </div>
    <br> 
    </form>
    <br>
    <a href="home.ejs">Voltar</a>
</div>
</body>
</html>