<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <h1>Resposta:</h1>

    <p>Nome do usuário: <%=varLogin%></p>
    <p>Senha: <%=varSenha%></p>
</body>
</html>